
##JWT
JWT_SECRET=change-me

##DB
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=user
DATABASE_PASSWORD=change-me
DATABASE_NAME=biblioteca

#NODE_ENV
NODE_ENV=production

##KEYCLOAK
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=biblioteca
KEYCLOAK_ISSUER=http://localhost:8080/realms/biblioteca
KEYCLOAK_JWKS_URI=http://keycloak:8080/realms/biblioteca/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=frontend

KC_ADMIN_CLIENT_ID=backend
KC_ADMIN_CLIENT_SECRET=change-me

##KAFKA
KAFKA_BROKERS=kafka:9092

##ELASTIC
ELASTIC_URL=http://elasticsearch:9200
